%% erlang/otp version requirement
%{require_otp_vsn, "R13B04|R14|R15"}.

{cover_enabled, true}.

%% normal release, with debug info.
{erl_opts, [debug_info, fail_on_warning]}.

%% special release for performance.
%{erl_opts, [no_debug_info]}.

%% cleanup
{clean_files, [".eunit"]}.

%% depends list
%{deps, []}.